@model Aufgabe1_Registrierung.Models.Spieler
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Suche";
}

<!DOCTYPE html>

    // hier die Auflistung der Spieler abbilden

    <H1>Gefundene Spieler:</H1>

    <table>
        <tr>
            <th>Vorname:</th>
            <th>Nachname:</th>
        </tr>

    </table>

