@model IEnumerable<Aufgabe1_Registrierung.Models.Spieler>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Spieler-Liste";
}

<!DOCTYPE html>

    <H2>Spieler-Übersicht:</H2>

    <table>
        <tr>
            <th>Vorname:</th>
            <th>Nachname:</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vorname </td>
                <td>@item.nachname</td>
            </tr>
        }

    </table>
    <br />
    <h2>Suche Spieler:</h2>
<p>
    @using (Html.BeginForm("Search","SpielerListe",FormMethod.Get))
    {
        <b>Suche:</b>
        @Html.TextBox("search")<input type="submit" value="Search"/>
    }
</p>

    @*<a href="/Home/Startseite">zur Startseite</a>*@

