@model IEnumerable<Aufgabe1_Registrierung.Models.Spieler>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Spieler-Liste";
}

<!DOCTYPE html>

    <H2>Spieler-Übersicht:</H2>

    <table>
        <tr>
            <th>Vorname:</th>
            <th>Nachname:</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.vorname </td>
                <td>@item.nachname</td>
            </tr>
        }

    </table>
    <br />
    <h2>Suche Spieler:</h2>
    <form action="/SpielerListe/Search" method="get">
        <input type="text" name="Begriff" />
        <input type="submit" value="Search" />
    </form>
    <br />
    <a href="/Home/Startseite">zur Startseite</a>

