
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadFormular</title>
</head>
<body>
<H1> Formular</H1>
<form action="/SpielerDetail/SeeSpieler2" method="post">
    Vorname:<br>
    <input type="text" name="Vorname" value="">
    <br>
    Nachname:<br>
    <input type="text" name="Nachname" value="">
    <br>
    Telefon:<br>
    <input type="text" name="Telefon" value="">
    <br>
    Email:<br>
    <input type="text" name="Email" value="">
    <br>
    Jahrgang:<br>
    <input type="text" name="Jahrgang" value="">
    <br>
    <br>
    <input type="submit" value="SaveAndeSeeDetail">
    <br>
</form>
<a href="/Home/Startseite"> Startseite</a>
</body>
</html>

