
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Startseite</title>
</head>
<body>
<H1> Startseite</H1>
<a href="/Registrierung/LoadFormular"> Registrierungs-Seite</a>
</body>
</html>
